<h1>Main Menu</h1>

<p>Welcome to your favorite Quiniela App</p>

<div>
  <%= link_to 'Phases', phases_path %>
</div>

<div>
  <%= link_to 'Teams', teams_path %>
</div>

<div>
  <%= link_to 'Games', games_path %>
</div>

<div>
  <%= link_to 'Board', boards_path %>
</div>
